html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: white;
 overflow: hidden; /* contain objects "on-screen" */
}
#scene-container {
    background: url(Vergil\ chair.jpeg);
    background-size: cover;
    overflow: hidden;
}
#dante {
    width: 90px;
    position: relative;
    top: 200px;
    left: 500px;
    animation: dante-move 10s infinite ease-in-out;
}
@keyframes dante-move {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(-200px,-40px);}
    100% { transform: translate (-300px, -50px);}

}


